.popup__name {
    width: 358px;
    margin-left: 36px;
    margin-bottom: 29.74px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 14px;
    line-height: 17px;
    color: black;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: calc(27.26px - 16.66px - 1px);
}

@media only screen and (max-width: 570px) {
    .popup__name {
        display: block;
        width: 238px;
        margin: 0 auto 30px;
        padding-bottom: calc(27px - 16.66px - 1px);
    }
}