.popup__container {
    position: relative;
    top: 25px;
    opacity: var(--opacity);
    transition: all 3s cubic-bezier(0, 3.25, 1, 1) 0.1s;
}

@media only screen and (max-width: 570px) {
    .popup__container {
        top: 5px;
    }
}